<div class="modal-lg" role="dialog">
    <div class="modal-content">
        <div class="mdl-head">
            
            <div class="close">
                <button type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- Form -->
        <form action="ordersUpdatePost" method="post">
            
            <div class="modal-body">
                <h5 class="ml-4 mb-4 p-1 modal-title">Update Orders</h5>
                <!-- Target ID Value to Update -->
                <input class="d-none" type="text" name=".ID" value="<%= data.values.OrderID %>" />

                <!-- Values -->
                <div class="container">
                    <!-- data.values --> 
                    <div class="row align-items-start">
                        <!-- Sol Sütün isActive
                            isCheff-->

                        <div class="col-12">
                            <div class="d-flex mb-3">
                                <label class="col-4" for="OrderDate">Order Date:</label><br>
                                <div class="w-100">
                                    <input class="w-100 inpt" type="date" id="OrderDate" name="OrderDate" value="<%= sqlDate2ISODate(data.values.OrderDate, true) %>"><br>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="d-flex mb-3">

                                <label class="col-4" for="OrderTableID">Order Table:</label><br>
                                <div class="w-100">
                                    <select class="w-100 inpt" aria-label="Select order table" id="OrderTableID" name="OrderTableID">
                                
                                        <% for (let i = 0; i < data.fkValues["OrderTableID"].length; i++) { %>
                                            <option
                                                value="<%= data.fkValues["OrderTableID"][i].value %>"
                                                <%= data.fkValues["OrderTableID"][i].value === data.values.OrderTableID ? "selected" : "" %>
                                            >
                                                <%= data.fkValues["OrderTableID"][i].displayValue %>
                                            </option>
                                        <% } %>
                                    </select><br>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <label class="col-4" for="OrderStatusID">Order Status:</label><br>
                                <div class="w-100">
                                    <select class="w-100 inpt" aria-label="Select order status" id="OrderStatusID" name="OrderStatusID">
                                        <% for (let i = 0; i < data.fkValues["OrderStatusID"].length; i++) { %>
                                            <option
                                                value="<%= data.fkValues["OrderStatusID"][i].value %>"
                                                <%= data.fkValues["OrderStatusID"][i].value === data.values.OrderStatusID ? "selected" : "" %>
                                            >
                                                <%= data.fkValues["OrderStatusID"][i].displayValue %>
                                            </option>
                                        <% } %>
                                    </select><br>
                                </div>
                            </div>

                            <div class="d-flex mb-3">
                                <label class="col-4" for="OrderStatusID">Order Product:</label><br>
                                <div class="w-100">
                                    <select class="w-100 inpt" aria-label="Select order status" id="OrderProductID" name="OrderProductID">
                                        <% for (let i = 0; i < data.fkValues["OrderProductID"].length; i++) { %>
                                            <option
                                                value="<%= data.fkValues["OrderProductID"][i].value %>"
                                                <%= data.fkValues["OrderProductID"][i].value === data.values.OrderProductID ? "selected" : "" %>
                                            >
                                                <%= data.fkValues["OrderProductID"][i].displayValue %>
                                            </option>
                                        <% } %>
                                    </select><br>
                                </div>
                            </div>

                            <div class="d-flex mb-3">
                                <label class="col-4" for="OrderOnline">Is Online:</label><br>
                                

                                <label class="chcont">
                                    <input type="hidden" id="OrderOnline" name="OrderOnline"  value="<%= data.values.OrderOnline %>"><br>
                                    <span onclick="chBox('#OrderOnline')" class="checkmark" style='background-color: <%= (data.values.OrderOnline ?? false) ? "#2f98e3" : "#ccc" %> '></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" value="Close" class="btn btn-secondary" data-dismiss="modal" />
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
